.column{
    width: 272px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px;
   
    padding-bottom: 10px;
    
}
.column__btn{
    border: none;
    z-index: 20;
}
.column__input{
    display: none;
    justify-content: space-between;
    align-items: center;
}

.card_name_accept {
    border:  none;
    background-color: #FFFFFF;
}
.card-title{
    resize:none;
}
.card_title_accept img{
    width: 20px;
    height: 20px;
}
.cards-block{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-bottom: 20px;
}
.card{
    width: 95%;
    background-color: #D3D3D3;
    word-break: break-all;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.edit-card-btn img{
    width: 20px;
    height: 20px;
}
.edit-card-btn{
    width: 20px;
    height: 20px;
}
.card-text-block{
    width: 90%;
}